# Streamlit & UI Components
streamlit
streamlit_option_menu
streamlit_tailwind
streamlit-aggrid    
streamlit_lottie
streamlit_extras
streamlit_shadcn_ui
streamlit-javascript

# Database & Cloud Storage
psycopg2-binary  
supabase         
python-dotenv

# Data Processing 
pandas
numpy
altair
Pillow
pdf2image
fpdf
python-docx
xlsxwriter
httpx
datetime

# Google Gemini API
google-generativeai

# Plotly for Advanced Tables
plotly