# Streamlit & UI Components
streamlit
streamlit_option_menu
streamlit_tailwind
streamlit-aggrid    
streamlit_lottie
streamlit_extras
streamlit_shadcn_ui
awesome_table
streamlit-awesome-table

# Database & Cloud Storage
psycopg2
supabase
python-dotenv

# Data Processing 
pandas
numpy
altair
Pillow
pdf2image
fpdf
python-docx
xlsxwriter

# Google Gemini API
google-generativeai

# Logging & Other Utilities
io
datetime
logging