# Streamlit & UI Components
streamlit
streamlit-option-menu
streamlit-tailwind
streamlit-aggrid    
streamlit-lottie
streamlit-extras
streamlit-shadcn-ui

# Database & Cloud Storage
psycopg2-binary  
supabase-py      
python-dotenv

# Data Processing 
pandas
numpy
altair
Pillow
pdf2image
fpdf
python-docx
xlsxwriter

# Google Gemini API
google-generativeai